<div data-bsi-element="dynamic-value-list" data-bsi-element-part="dynamic-value-b4" data-bsi-entity-id="{{context.dataModelValue.type}}">
  <input data-bsi-entity-key-value="{{context.dataModelValue.value}}"
    data-bsi-entity-key-display-text="{{context.displayText}}">
</div>