$flag: bsiProperty('other.test.flag');

@if $flag {
  .element.content-text {
    color: #ff00ff;
    content: bsiProperty('other.test.alternateColor', #cde);
    background: bsiProperty('other.test.background', #def);
    margin: bsiProperty('other.test.margin', 100px);
    padding: bsiProperty('unknown', 5rem);
  }
}
