<div data-bsi-element="text" class="element content-text" style="background-image: {{ properties.other.test.background.externalRefCss }}">
  <h1 data-bsi-element-part="cc246a71-e563-412b-9a7e-9c3fc0475f2e">Temporibus rerum</h1>
  <h2 data-bsi-element-part="6849e817-c96d-42aa-a0a8-0d2f2410197e">Rerum alias natus</h2>
  <div data-bsi-element-part="22235837-cf9e-49e9-8918-294b22e2854d" style="color: {{ properties.unknown ?: '#ff00ff' }}">
    Text
  </div>
</div>
