<div data-bsi-element="content-text" class="element content-text" data-bsi-element-part="formatted-text" style="background-image: {{ properties.other.test.background.externalRefCss }}">
  {% verbatim %}{{bsi.nls 'text_'}}{% endverbatim %}
</div>
