{% set text = (text ?: properties.textContent) ?: bsi_cx_lorem(110) %}

<div data-bsi-element="text-kkq2fq" data-bsi-element-part="text-part-Fjse59" class="bsi-element-text-kkq2fq bsi-default">
	<p tabindex="0">{{ text | raw }}</p>
</div>
