<div data-bsi-element="text-kkq2fq" class="bsi-element-text-kkq2fq bsi-default" {{ bsi_hbs_attr_scope contextScope }}>
	<p tabindex="0">{{ bsi_hbs_var "text.value" contextScope }} </p>
	{{> text bsi_hbs_attr_scope=(bsi_concat_scope contextScope "text") }}
</div>
