.bsi-template-button {
    display: grid;
    justify-content: start;
    gap: 0.5rem;

    a {
        background: #96c5b0;
        border: 1px solid #779E8D;
        border-radius: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
    }
}