<div data-bsi-element="image-9gq2eo" class="image-9gq2eo">
	<img data-bsi-element-part="image-f6zquy" src="{{ bsi_cx_asset('../../../static/image.png') }}"/>
	<div data-bsi-element-part="table-yuqz6f" class="mb-3 bsi-shadow-visible bsi-border-hide bsi-table-secondary bsi-table-mobile">
        <table class="table bsi-dm-bg-color table-hover">
            <colgroup>
                <col/>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <tbody>
            <tr>
                <th>#</th>
                <th>Title 1</th>
                <th>Title 2</th>
                <th>Title 3</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Text 1</td>
                <td>Text 2</td>
                <td>Text 3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Text 1</td>
                <td>Text 2</td>
                <td>Text 3</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Text 1</td>
                <td>Text 2</td>
                <td>Text 3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
