<div data-bsi-element="title" class="title">
  <h2 data-bsi-element-part="plain-text">{% verbatim %}{{bsi.nls 'title_'}}{% endverbatim %}</h2>
  <img src="{{ bsi_cx_asset('./placeholder.png') }}" alt="{% verbatim %}{{bsi.nls 'title_'}}{% endverbatim %}" />
</div>
