<div data-bsi-element="content-title-1" class="element content-title">
  <h2 data-bsi-element-part="title-id">Titel</h2>
<!--   <img src="{{ "@ref(./placeholder.png)" }}" alt="Titel" /> -->
  {{ property.test }}
  {{ bsi.textValue "linkPId" }}
  {{>text }}
</div>