@use "sass:map";

.bsi-template-part-element {
    &.background-green {
        background-color: greenyellow;
    }

    img {
        width: 100%;
        min-height: 300px;
        object-fit: contain;
    }

    a {
        border: bsiProperty("borderStyle", 2px dotted #ffffff);
    }

    &::before {
        content: attr(option-tag);
        background-color: map.get($colorComplex, 600);
    }
}