<div class="bsi-template-part-element" data-bsi-element="template-part-element-97112d7d">
    <img src="{{image-part-01fb0560.srcUrl}}" srcset="{{image-part-01fb0560.srcset}}" alt="{{image-part-01fb0560.altText}}"/>
</div>