<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% apply spaceless %}
  <div data-bsi-dropzone="content">
    {% block content %}{% endblock %}
  </div>
  <script src="{{ bsi_cx_asset('./static/script.js') }}"></script>
{% endapply %}
</body>
</html>
